[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain.git
	